#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    
}

#nav > li {
    float: left;
}



#nav > li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

#nav > li a:hover {
    background-color: #555;
    color: white;
}
#nav > .active {
    background-color: #4CAF50;
    color: white;
}

#banner{
  text-align:center;
  padding:3% 0;
  position: relative; 
  width: 100%;
}

#button_main{
  text-align:center;
  padding-bottom:3%;
}

#button_main > button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width:45%;
}

#button_main > button:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}


#img_block{
  text-align:center;
}


.img_row{
  padding-bottom:50px
}

div.singl_img {
    border: 1px solid #ccc;
  background-color:gray;
}
div.singl_img:hover {
    border: 1px solid #777;
}
div.singl_img img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
  
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#footer{
  border-top:solid;
}
table{
margin-top:20px;
}
#footer > table {
    border-collapse: collapse;
    width: 100%;
}
#footer > th,td{
    text-align: center;
    padding: 8px;
}
#footer a{
  text-decoration:none;
  color:green;
}

#content{
  max-width:700px;
  margin:auto;
  background:white;
  padding:10px;
}

#login_page form {
    border: 3px solid #f1f1f1;
}

#login_page input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login_page button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login_page button:hover {
    opacity: 0.8;
}
#login_page .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

#login_page .container {
    padding: 16px;
}
#login_page span.psw {
    float: right;
    padding-top: 16px;
}
